attrs==18.2.0
beautifulsoup4==4.6.0
Click==7.0
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
pluggy==0.6.0
py==1.7.0
pytest==3.4.2
regex==2018.2.8
six==1.11.0
Werkzeug==0.14.1
